<div class="header">
    <div class="header__container">
        <a href="index.html" class="header__logo">
            <img src='static/img/content/logo.png' alt='Картинка'>
        </a>
        <div class="cont-open">
            <img src='static/img/content/hamburger.svg' alt='Картинка'>
            <span>
                Меню
            </span>
        </div>
        <a href="#" class="header__prf">
            <div class="header__prf-icon m-bg-cont">
                <img src='static/img/content/pft.png' alt='Картинка'>
            </div>
            <div class="header__prf-text">
                Имя фамилия
            </div>
            <div class="header__prf-exit">
                <img src='static/img/content/exit.png' alt='Картинка'>
            </div>
        </a>
    </div>
</div>